body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}
header a {
    font-size: 70px;
    color: red;
    text-decoration: none;
}
header a:hover{
    color:black;
}