@font-face {
    font-family:good-times;
    src:url(images/recharge\ bd.otf);
}
/* @media only screen and (min-width:1200px) { */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

header {
    height: 130px;
    background-image: url(images/backgroundHeader.jpg);
    display: flex;
    align-items: center;
}

header img {
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.ExcludeHeaderImage {
    height:100px;
    width:100%;
    border-bottom-right-radius:0;
}
#random_spruch {
    font-size:2.2vw;
    font-family:good-times;
    position:relative;
    text-align:center;
    justify-content:flex-start;
    top:30px;
}
.float {
    position:absolute;
    left:35vw;
    transform:translateX(-50%);
    font-size:70px;
    color:white;
}
footer {
    height:130px;
    width:100%;
    background-color:lightgrey;
    display:flex;
    position:relative;
    transition:font-size 0.5s;
}
footer a {
    text-decoration:none;
    color:white;
    font-size: 2vw;
}
footer a:hover {
    font-size:3vw;
}
.support {
    position:sticky;
    top:89vh;
    left:83vw;
    text-decoration:none;
    color:black;
    font-size:35px;
    padding:10px 15px;
    background-color:rgb(192, 239, 255);
    border-radius:25px;
    margin-bottom: 19vh;
    transition: padding 0.5s;
}
.support img {
    margin-left:15px;
    transform:translateY(28%);
    width:50px;
    height:100%;
}
.support:hover {
    padding:15px 20px;
}
.arrowUp {
    position:sticky;
    top:89vh;
    left:91vw;
    text-decoration:none;
    color:white;
    font-size:35px;
    padding:10px 35px;
    background-color:rgb(192, 239, 255);
    border-radius:25px;
    margin-bottom: 19vh;
    transition:padding 0.5s;
}
.arrowUp:hover {
    color:rgb(179, 179, 179);
    padding:15px 40px;
}
.starten {
    display: flex;
    margin-top: 7vw;
    margin-left: 38vw;
}
.starten a{
    background-color: grey;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 40px;
    transition:padding 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.starten a:hover{
    color:white;
    padding: 18px;
}
.relative{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.infos {
   margin-top: 5vw;
    width: 18%;
    padding: 1vw;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5vw;
  }

/* } */