@font-face {
    font-family:good-times;
    src:url(images/recharge\ bd.otf);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

header {
    height: 130px;
    background-image: url(images/backgroundHeader.jpg);
    display: flex;
    align-items: center;
}

header img {
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    position: relative;
    left: 65vw;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    transition: background-color 0.5s;
    margin-right: 2.5vw;
}

header a:hover {
    color: black;
    background-color: rgb(150, 150, 150);
}
#random_spruch {
    font-size:2.2vw;
    font-family:good-times;
    position:relative;
    text-align:center;
    justify-content:flex-start;
    top:30px;
}
.float {
    position:absolute;
    left:35vw;
    transform:translateX(-50%);
    font-size:70px;
    color:white;
}
.ScrollUp {
    display:flex;
    font-size:50px;

}